<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rockchip.wifi.resources.config.overlay"
    android:versionCode="1"
    android:versionName="1.0">
    <application android:hasCode="false" />
    <overlay
        android:targetPackage="com.google.android.wifi.resources"
        android:targetName="WifiCustomization"
        android:priority="0"
        android:isStatic="true" />
</manifest>
